h1 {
    color: crimson;
    font-family: sans-serif;
}
h2 {
    color: crimson;
    font-family: sans-serif;
}
h3 {
    color: crimson;
    font-family: sans-serif;
}
a {
    color: crimson;
}
.overview {
    font-style: italic;
}